psimec_aplikacija_3_2/src/conf/xml-resources/web-service-references/AIRP2WS/wsdl/localhost_8084/psimec_aplikacija_1/AIRP2WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.psimec.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.psimec.nwtis.foi.org/" name="AIRP2WS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.psimec.nwtis.foi.org/" schemaLocation="http://localhost:8084/psimec_aplikacija_1/AIRP2WS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajAvionePoletjeleSAerodroma">
<part name="parameters" element="tns:dajAvionePoletjeleSAerodroma"/>
</message>
<message name="dajAvionePoletjeleSAerodromaResponse">
<part name="parameters" element="tns:dajAvionePoletjeleSAerodromaResponse"/>
</message>
<message name="dajZadnjiPreuzetiAvion">
<part name="parameters" element="tns:dajZadnjiPreuzetiAvion"/>
</message>
<message name="dajZadnjiPreuzetiAvionResponse">
<part name="parameters" element="tns:dajZadnjiPreuzetiAvionResponse"/>
</message>
<message name="dajUdaljeneAerodrome">
<part name="parameters" element="tns:dajUdaljeneAerodrome"/>
</message>
<message name="dajUdaljeneAerodromeResponse">
<part name="parameters" element="tns:dajUdaljeneAerodromeResponse"/>
</message>
<message name="dajMeteoPodatkeAerodroma">
<part name="parameters" element="tns:dajMeteoPodatkeAerodroma"/>
</message>
<message name="dajMeteoPodatkeAerodromaResponse">
<part name="parameters" element="tns:dajMeteoPodatkeAerodromaResponse"/>
</message>
<message name="dajUdaljenostDvaAerodroma">
<part name="parameters" element="tns:dajUdaljenostDvaAerodroma"/>
</message>
<message name="dajUdaljenostDvaAerodromaResponse">
<part name="parameters" element="tns:dajUdaljenostDvaAerodromaResponse"/>
</message>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<message name="dajZadnjihNPreuzetihAviona">
<part name="parameters" element="tns:dajZadnjihNPreuzetihAviona"/>
</message>
<message name="dajZadnjihNPreuzetihAvionaResponse">
<part name="parameters" element="tns:dajZadnjihNPreuzetihAvionaResponse"/>
</message>
<message name="dajLetoveIzabranogAviona">
<part name="parameters" element="tns:dajLetoveIzabranogAviona"/>
</message>
<message name="dajLetoveIzabranogAvionaResponse">
<part name="parameters" element="tns:dajLetoveIzabranogAvionaResponse"/>
</message>
<message name="dajSveKorisnike">
<part name="parameters" element="tns:dajSveKorisnike"/>
</message>
<message name="dajSveKorisnikeResponse">
<part name="parameters" element="tns:dajSveKorisnikeResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="dajPresejednje">
<part name="parameters" element="tns:dajPresejednje"/>
</message>
<message name="dajPresejednjeResponse">
<part name="parameters" element="tns:dajPresejednjeResponse"/>
</message>
<message name="dajNazivePolazisnihAerodromaAviona">
<part name="parameters" element="tns:dajNazivePolazisnihAerodromaAviona"/>
</message>
<message name="dajNazivePolazisnihAerodromaAvionaResponse">
<part name="parameters" element="tns:dajNazivePolazisnihAerodromaAvionaResponse"/>
</message>
<portType name="AIRP2WS">
<operation name="dajAvionePoletjeleSAerodroma">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajAvionePoletjeleSAerodromaRequest" message="tns:dajAvionePoletjeleSAerodroma"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajAvionePoletjeleSAerodromaResponse" message="tns:dajAvionePoletjeleSAerodromaResponse"/>
</operation>
<operation name="dajZadnjiPreuzetiAvion">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajZadnjiPreuzetiAvionRequest" message="tns:dajZadnjiPreuzetiAvion"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajZadnjiPreuzetiAvionResponse" message="tns:dajZadnjiPreuzetiAvionResponse"/>
</operation>
<operation name="dajUdaljeneAerodrome">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajUdaljeneAerodromeRequest" message="tns:dajUdaljeneAerodrome"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajUdaljeneAerodromeResponse" message="tns:dajUdaljeneAerodromeResponse"/>
</operation>
<operation name="dajMeteoPodatkeAerodroma">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajMeteoPodatkeAerodromaRequest" message="tns:dajMeteoPodatkeAerodroma"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajMeteoPodatkeAerodromaResponse" message="tns:dajMeteoPodatkeAerodromaResponse"/>
</operation>
<operation name="dajUdaljenostDvaAerodroma">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajUdaljenostDvaAerodromaRequest" message="tns:dajUdaljenostDvaAerodroma"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajUdaljenostDvaAerodromaResponse" message="tns:dajUdaljenostDvaAerodromaResponse"/>
</operation>
<operation name="azurirajKorisnika">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
<operation name="dajZadnjihNPreuzetihAviona">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajZadnjihNPreuzetihAvionaRequest" message="tns:dajZadnjihNPreuzetihAviona"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajZadnjihNPreuzetihAvionaResponse" message="tns:dajZadnjihNPreuzetihAvionaResponse"/>
</operation>
<operation name="dajLetoveIzabranogAviona">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajLetoveIzabranogAvionaRequest" message="tns:dajLetoveIzabranogAviona"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajLetoveIzabranogAvionaResponse" message="tns:dajLetoveIzabranogAvionaResponse"/>
</operation>
<operation name="dajSveKorisnike">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajSveKorisnikeRequest" message="tns:dajSveKorisnike"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajSveKorisnikeResponse" message="tns:dajSveKorisnikeResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="dajPresejednje">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajPresejednjeRequest" message="tns:dajPresejednje"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajPresejednjeResponse" message="tns:dajPresejednjeResponse"/>
</operation>
<operation name="dajNazivePolazisnihAerodromaAviona">
<input wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajNazivePolazisnihAerodromaAvionaRequest" message="tns:dajNazivePolazisnihAerodromaAviona"/>
<output wsam:Action="http://serveri.ws.psimec.nwtis.foi.org/AIRP2WS/dajNazivePolazisnihAerodromaAvionaResponse" message="tns:dajNazivePolazisnihAerodromaAvionaResponse"/>
</operation>
</portType>
<binding name="AIRP2WSPortBinding" type="tns:AIRP2WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajAvionePoletjeleSAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjiPreuzetiAvion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajUdaljeneAerodrome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajUdaljenostDvaAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjihNPreuzetihAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajLetoveIzabranogAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveKorisnike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPresejednje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajNazivePolazisnihAerodromaAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AIRP2WS">
<port name="AIRP2WSPort" binding="tns:AIRP2WSPortBinding">
<soap:address location="http://localhost:8084/psimec_aplikacija_1/AIRP2WS"/>
</port>
</service>
</definitions>